* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}


header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(131, 27, 27, 0.788), rgba(0, 0, 0, 0.925)), url(bg_cover.JPG);
    background-size: cover;
    background-position: center;
    position: relative;
}

/* li.nav-link a:link,
li.navlink a:visited {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
} */

.nav-link a:hover,
.navlink a:active {
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
    border-bottom: 2px solid #cf6d17;
}

button {
    padding: 10px 25px;
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}



.navlink {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
}

.navmenu {
    flex: 1;
    text-align: right;
    padding-right: 50px;
}

.textbox h1 {
    font-size: 50px;
    font-weight: 600;

}

.textbox p {
    font-size: 16px;
    /* padding-bottom: 8px; */
    font-weight: 300;
}

.textbox h3 {
    font-size: 22px;
    padding-bottom: 10px;
    font-weight: 300;
}

.navbar {
    display: flex;
    width: 100%;
    padding: 10px 80px;

}



.hero .textbox {
    color: white;
    position: absolute;
    bottom: 35%;
    left: 32%;  
    text-align: center;
}


/* --------BUTTONS----------- */
.btn-cv {
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}



a {
    color: white;
}

/* .btn-cv :hover{
    /* background-color: black; */
    color: rgb(199, 197, 197);
    font-size: 20px;
    transition: 0.5s;
} */



/* ---------- THE ABOUT ME SECTION ----------- */

.about-me {
    width: 100%;
    height: 100vh;
    display: flex;
}

.abt {
    display: flex;
    padding: 60px 80px;
}

.abt img {
    height: 500px;
    width: 450px; 
    border-radius: 20px; 
}

.abt-me-text {
    padding: 50px;
    font-size: 24px;
}

.abt-me-text .social-links {
    color: red;
    padding-top: 20px;
}

i.fa-brands {
    padding: 0 8px;
}



.abt p {
    padding: 30px 0;
    font-size: 20px;
}

/* .mypic {
    flex-basis: 30%;
} */
/* .about-me-text {
    font-size: 25px;
}


.mypic {
    flex: 40%;
} */

.mypic img {
    height: 500px;
    width: 450px;
}

/* .about-me-text {
    padding: 0 30px;
    /* width: 50%; */
    /* height: 50vh; */
} */

a {
    text-decoration: none;
    color: white;
}

a.navlink:hover {
    color: rgb(208, 212, 216);
    font-size: 20px;
    transition: 0.5s;
}




    

#portfolio {
    width: 100%;
    height: 100vh;
    background: wheat;
    padding: 0 8%;
}

/* ----------SKILLS SECTION --------- */
#skills {
    padding: 30px 0;
    width: 100%;
    height: 100vh;
}

#skills h1 {
    text-align: center;
    font-size: 44px;
}

.skillset {
    background-color: rgba(245, 245, 245, 0.514);
    display: flex;
    gap:  40px 50px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 80px 160px;
    margin: 40px 0 0 0;
    font-size: 20px;
}

.skillset .myskillset {
    /* flex: 0 0 400px; */
    /* position: relative; */
    width: calc(100% / 3);
    text-align: left;
}

i.fa-circle-check {
    color: red;
    padding-right: 20px;
}
/* ------ THE PROJECT SECTION ------ */
#project {
    width: 100%;
    height: 100vh;
}

#project h1 {
    text-align: center;
    font-size: 44px;
}

.project-container {
    /* background-color: rgb(207, 95, 91); */
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 40px 100px;
}

.project-container .pro1 {
    /* background-color: rgb(207, 95, 91); */
    border-radius: 10px;
}

.port {
    width: 300px;
    height: auto;
}

/* ------ END OF PROJECT SECTION ------ */




/* ------ THE FOOTER SECTION ------ */
.foot-container {
    width: 60%;
    margin: auto;
}

input, textarea {
    /* background-color: beige; */
    /* color: burlywoo; */
    width: 100%;
    /* border: none;
    border-bottom: 1px solid black; */
    /* border: 1px solid grey; */
    padding: 12px 20px;
}

.btn-send {
        padding: 10px 25px;
        background: rgb(240, 13, 13);
        color: white;
        font-size: 20px;
        border: 1px solid white;
        border-radius: 20px;
        outline: none;
        cursor: pointer;
        width: 200px;
}

.form-field {
    padding: 20px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.514);
}

.form_details {
    padding-bottom: 10px;
}

.footer-foot {
    text-align: center;
    padding: 15px 20px;
}

/* ------END OF FOOTER SECTION ----------- */


@media  600px {
    
}